<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.tradwang.demomodule">

  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:supportsRtl="true"
    android:theme="@style/BaseAppTheme">
    <activity android:name=".activity.DemoHomeActivity">
    </activity>
    <activity android:name=".activity.RxPermissionActivity">
    </activity>
    <activity android:name=".activity.PinYinSearchActivity">
    </activity>
    <activity android:name=".activity.CrashTestActivity">
    </activity>
    <activity android:name=".activity.rxjava.RxJavaActivity">
    </activity>
    <activity android:name=".activity.rxjava.RxCreateActivity">
    </activity>
    <activity android:name=".activity.rxjava.RxTransformActivity">
    </activity>
    <activity android:name=".activity.rxjava.RxMergeActivity">
    </activity>
  </application>

</manifest>